#contacts {
  margin-top: 18rem;
  margin-bottom: 8rem;
  display: flex;
}

#contacts-left {
  flex: 60%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#contacts-left h2 {
  font-weight: 400;
  font-size: 3rem;
  letter-spacing: 0.5rem;
  color: var(--third-color);
}

#contacts-left input {
  padding: 1.5rem 2rem;
  border: 1px solid var(--fourth -color);
  font-size: 2rem;
  color: var(--third-color);
  font-family: "Cairo", sans-serif;
}

#contacts-left input:focus:not(input[type="submit"]) {
  outline: none;
  border: 1px solid var(--first-color);
  /* box-shadow: 0 0 10px var(--first-color); */
}

#contacts-left #namesurname {
  display: flex;
  width: 100%;
  gap: 2rem;
}

#contacts-left #namesurname input[placeholder="NAME"] {
  flex: 50%;
}

#contacts-left #namesurname input[placeholder="SURNAME"] {
  flex: 50%;
}

#contacts-right {
  flex: 40%;
}

input[value="SUBMIT"] {
  align-self: flex-start;
  font-size: 1.5rem;
  color: var(--third-color);
  background-color: transparent;
  border: 1px solid var(--second-color);
  padding: 1rem;
  letter-spacing: 1.2px;
  margin: 1rem 0 !important;
  display: inline-block;
  border-radius: 0.5rem;
}

input[value="SUBMIT"]:hover {
  background-color: var(--first-color);
  color: var(--fourth-color);
  transition: all ease-out 0.4s;
  cursor: pointer;
}

textarea {
  padding: 1.5rem 2rem;
  font-size: 2rem;
  font-weight: 400;
  font-family: "Cairo", sans-serif;
  resize: none;
}

textarea:focus {
  outline: none;
  border: 1px solid var(--first-color);
}

#contacts-right {
  margin-left: 5rem;
  color: var(--third-color);
}

#contacts-right h4 {
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: 0.5rem;
}

#contacts-right p {
  font-size: 1.8rem;
  margin: 2rem 0;
}
